@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Embrapa Brand Colors */
  --primary: 0 111 53;     /* #006f35 */
  --primary-foreground: 255 255 255;
  --sidebar-primary: 0 60 29;
  --sidebar-primary-foreground: 255 255 255;
  
  --radius: 0.75rem;
  --background: 255 255 255;
  --foreground: 30 41 59;
  --card: 255 255 255;
  --card-foreground: 30 41 59;
  --popover: 255 255 255;
  --popover-foreground: 30 41 59;
  --secondary: 241 245 249;
  --secondary-foreground: 15 23 42;
  --muted: 241 245 249;
  --muted-foreground: 100 116 139;
  --accent: 241 245 249;
  --accent-foreground: 15 23 42;
  --destructive: 239 68 68;
  --destructive-foreground: 255 255 255;
  --border: 226 232 240;
  --input: 226 232 240;
  --ring: 0 111 53;
}

body {
  font-family: 'Inter', sans-serif;
}
