name: Deploy to Firebase Hosting on merge
'on':
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Firebase CLI
        run: npm install -g firebase-tools
      - name: Deploy to Firebase
        run: |
          echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_SUPPORT_CC19B }}' > service-account.json
          export GOOGLE_APPLICATION_CREDENTIALS=service-account.json
          firebase deploy --only hosting --project support-cc19b
